.App-header {
    color: #333;
    padding: 1rem;
    text-align: center;
  }
  
  .App-header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .App-header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .App-header nav li {
    margin-right: 20px;
  }
  
  .App-header nav a {
    color: #fff;
  }
  
  .App-header nav a:hover {
    color: #ccc;
  }