/* Estiliza o formulário */
form {
  padding: 20px;
  border: 1px solid #4682B4; /* Azul escuro */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estiliza os labels */
label {
  display: block;
  margin-bottom: 10px;
  color: #032B44; /* Azul escuro */
  font-weight: bold;
}

/* Estiliza os inputs */
input[type="text"], input[type="checkbox"] {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #1081f9; /* Azul escuro */
  border-radius: 5px;
}

input[type="password"], input[type="checkbox"] {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #1081f9; /* Azul escuro */
  border-radius: 5px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/* Estiliza o botão de envio */
input[type="submit"] {
  background-color: #4682B4; /* Azul escuro */
  color: #FFFFFF; /* Branco */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3498DB; /* Azul mais claro */
}

/* Estiliza o campo de cargo */
#cargo {
  background-color: #87CEEB; /* Azul claro */
  color: #032B44; /* Azul escuro */
  padding: 10px;
  border: none;
  border-radius: 5px;
}